In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib qt

In [2]:
# from sklearn.datasets import fetch_openml
data_dir = '/media/l7/data_storage1/datasets'
DATA_DIR = '/media/l7/data_storage1/datasets'
MAIN_PATH = DATA_DIR + '/afib_dataset/'

In [45]:
results = pd.read_pickle(MAIN_PATH + 'pca_experiment_result_df.pckl')
results['value'].astype('float')
results['sample_number'].astype('int')
results['number_of_eigen_vectors'].astype('int')
results

,sample_number,method_name,metric_name,number_of_eigen_vectors,value
0,800,sce,f1_score_value,100,0.64408
1,800,sce,accuracy_score_value,100,0.685
2,800,sce,f1_score_value,200,0.681805
3,800,sce,accuracy_score_value,200,0.72375
4,800,sce,f1_score_value,300,0.436549
...,...,...,...,...,...
1465,50000,rmt,accuracy_score_value,500,0.86244
1466,50000,rmt,f1_score_value,600,0.871084
1467,50000,rmt,accuracy_score_value,600,0.87426
1468,50000,rmt,f1_score_value,784,0.82424
1469,50000,rmt,accuracy_score_value,784,0.83784

In [113]:
# sample_numbers = [1000, 5000, 10000,20000, 40000, 50000]
sample_numbers = [800, 850, 900, 950, 1000, 1100, 1200, 1300, 1400, 1500,
                          2000, 2500, 3000, 3500, 4000, 4500, 5000, 6000, 7000,
                          8000, 9000, 10000, 11000, 12000, 13000, 14000, 15000,
                          16000, 17000, 18000, 19000,
                          20000, 30000, 40000, 50000]
# sample_numbers = [800, 850, 900]
metric = 'f1_score_value'
# metric = 'accuracy_score_value'
method_names = ['sce', 'lwe', 'rmt']
# number_of_eigen_vectors = [100, 200, 300]
number_of_eigen_vectors = [100, 200, 300, 400, 500, 600, 784]
result_stats = pd.DataFrame(columns=['method_name', 'metric_name', 'stat_name', 
                                     'dimension', 'value'])
plt.close()
for method_name in method_names:
    for dimension in number_of_eigen_vectors:
        current_results = results[(results['method_name']==method_name)\
                                  & (results['metric_name']==metric)\
                                 & (results['number_of_eigen_vectors']==dimension)]['value']
        plt.plot(sample_numbers, current_results, label=method_name + '_' + str(dimension))
        current_index = result_stats.index.size
        result_stats.loc[current_index] = 0
        result_stats.loc[current_index] = [method_name, metric, 'mean', dimension, current_results.mean()]
        current_index = result_stats.index.size
        result_stats.loc[current_index] = [method_name, metric, 'max', dimension, current_results.max()]
        current_index = result_stats.index.size
        result_stats.loc[current_index] = [method_name, metric, 'min', dimension, current_results.min()]
        current_index = result_stats.index.size
        result_stats.loc[current_index] = [method_name, metric, 'std', dimension, current_results.std()]
plt.xlabel('sample_numbers')
plt.ylabel('metric')
plt.title('Metric values vs sample numbers')
plt.legend()
plt.show()

In [84]:
dimension = 100
for method_name in method_names:
#     plt.figure()
    data = results[(results['method_name']==method_name)\
                                  & (results['metric_name']==metric)\
                                 & (results['number_of_eigen_vectors']==dimension)]
    data['value'] = data['value'].astype('float')
    data['sample_number'] = data['sample_number'].astype('int')
    data = data.drop(['method_name', 'metric_name',
                    'number_of_eigen_vectors'], axis=1)
    
    sns.relplot(x='sample_number', y='value',
                data=data)
    plt.show()

/home/l7/dev/tools/anaconda3/envs/aalto_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/l7/dev/tools/anaconda3/envs/aalto_env/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [89]:
data = results[(results['metric_name']==metric)]
data

,sample_number,method_name,metric_name,number_of_eigen_vectors,value
1,800,sce,accuracy_score_value,100,0.685
3,800,sce,accuracy_score_value,200,0.72375
5,800,sce,accuracy_score_value,300,0.545
7,800,sce,accuracy_score_value,400,0.57
9,800,sce,accuracy_score_value,500,0.52
...,...,...,...,...,...
1461,50000,rmt,accuracy_score_value,300,0.861
1463,50000,rmt,accuracy_score_value,400,0.86782
1465,50000,rmt,accuracy_score_value,500,0.86244
1467,50000,rmt,accuracy_score_value,600,0.87426
1469,50000,rmt,accuracy_score_value,784,0.83784

In [114]:
# sns.relplot(x='sample_number', y='value', hue='method_name',
#                 data=data)
sns.catplot(x='sample_number', y='value', kind='box', 
            hue='method_name',data=data)
plt.title('Value Distribution', fontsize=24)
plt.ylabel('Value', fontsize=20)
plt.xlabel('Number of Samples', fontsize=20)

Text(0.5, 29.140624999999986, 'Number of Samples')

In [115]:
sns.catplot(x='sample_number', y='value', row='number_of_eigen_vectors',
            kind='point',hue='method_name',data=data)

In [94]:
data['value'] = data['value'].astype('float')
data['sample_number'] = data['sample_number'].astype('int')
sns.heatmap(data=data[['sample_number', 'value']])

/home/l7/dev/tools/anaconda3/envs/aalto_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/l7/dev/tools/anaconda3/envs/aalto_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [11]:
result_stats

   method_name           metric_name stat_name dimension      value
0          sce  accuracy_score_value      mean       100   0.697996
1          sce  accuracy_score_value       max       100    0.85545
2          sce  accuracy_score_value       min       100   0.461111
3          sce  accuracy_score_value       std       100  0.0984314
4          sce  accuracy_score_value      mean       200   0.691524
..         ...                   ...       ...       ...        ...
79         rmt  accuracy_score_value       std       600   0.199884
80         rmt  accuracy_score_value      mean       784   0.729197
81         rmt  accuracy_score_value       max       784   0.874275
82         rmt  accuracy_score_value       min       784   0.534444
83         rmt  accuracy_score_value       std       784  0.0870316

[84 rows x 5 columns]

In [120]:
plt.close()
for method_name in method_names:
    plt.figure()
    for dimension in number_of_eigen_vectors:
        current_results = result_stats[(result_stats['method_name']==method_name)\
                                      & (result_stats['metric_name']==metric)\
                                     & (result_stats['dimension']==dimension)\
                                      & (result_stats['stat_name']=='max')]['value']
        plt.scatter(dimension, current_results, label=method_name)
    plt.legend()
    plt.show()

In [119]:
plt.close()
for stat_name in ['mean', 'max', 'min']:
    plt.figure()
    # stat_name = 'mean'
    for method_name in method_names:
        current_results = result_stats[(result_stats['method_name']==method_name)\
                                      & (result_stats['metric_name']==metric)\
                                      & (result_stats['stat_name']==stat_name)]['value']
        plt.scatter(number_of_eigen_vectors, current_results, label=method_name)
        plt.title('Plotting {} {}'.format(stat_name, metric))
        plt.xlabel('Number of Eigen Vectors')
        plt.ylabel('F1 Values')
        plt.legend()
        plt.show()